body {
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgb(51, 173, 255),rgb(115, 0, 230));
    color: white;
}

#body{
    width: 600px;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    text-align: left;
    background-color: navy;

}

#title{
    font-size: 45px;
}

#description{
    font-size: 20px;
}

#name{
    width: 560px;
    padding: 15px;
    border-radius: 10px;

}

#email{
    width: 560px;
    padding: 15px;
    border-radius: 10px;
}

#number{
    width: 560px;
    padding: 15px;
    border-radius: 10px;
}

#dropdown{
    width: 560px;
    padding: 15px;
    border-radius: 10px;
}

#comment{
    width: 570px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#submit{
    width: 590px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 31px;
    color: white;
    background-color: green;
}